workflows/n8n_local_executor.json
{
  "name": "Money Machine LOCAL Executor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-job",
        "options": {}
      },
      "id": "webhook-receiver",
      "name": "Webhook Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "mm-local-run-job"
    },
    {
      "parameters": {
        "command": "={{ 'cd ' + $env.MM_PROJECT_PATH + ' && python workflows/run_job.py --json \\'' + JSON.stringify($json) + '\\'' }}"
      },
      "id": "execute-python",
      "name": "Execute Money Machine",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse the Python output\nconst output = $input.first().json.stdout;\n\n// Find the JSON result in output\nconst lines = output.split('\\n');\nlet jsonStart = false;\nlet jsonLines = [];\n\nfor (const line of lines) {\n  if (line.includes('JOB RESULT:')) {\n    jsonStart = true;\n    continue;\n  }\n  if (jsonStart && line.startsWith('{')) {\n    jsonStart = true;\n  }\n  if (jsonStart) {\n    jsonLines.push(line);\n  }\n}\n\nlet result;\ntry {\n  result = JSON.parse(jsonLines.join('\\n'));\n} catch (e) {\n  // Try to find JSON anywhere in output\n  const match = output.match(/\\{[\\s\\S]*\\}/g);\n  if (match) {\n    result = JSON.parse(match[match.length - 1]);\n  } else {\n    result = { status: 'PARSE_ERROR', raw: output };\n  }\n}\n\nreturn [{ json: result }];"
      },
      "id": "parse-result",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1140, 400]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "health",
        "options": {}
      },
      "id": "health-webhook",
      "name": "Health Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 520],
      "webhookId": "mm-local-health"
    },
    {
      "parameters": {
        "command": "={{ 'cd ' + $env.MM_PROJECT_PATH + ' && python workflows/run_job.py --mode health' }}"
      },
      "id": "health-check",
      "name": "Run Health Check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [480, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'HEALTHY', ffmpeg: true, python: true } }}",
        "options": {}
      },
      "id": "respond-health",
      "name": "Respond Health",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 520]
    }
  ],
  "connections": {
    "Webhook Receiver": {
      "main": [
        [
          {
            "node": "Execute Money Machine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Money Machine": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Webhook": {
      "main": [
        [
          {
            "node": "Run Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Health Check": {
      "main": [
        [
          {
            "node": "Respond Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "mm-local-v1",
  "meta": {
    "instanceId": "money-machine-local"
  },
  "tags": [
    {
      "name": "money-machine"
    },
    {
      "name": "local"
    }
  ]
}
